body {
background-color: #A3BAFF;
padding: 20px 20px 20px 20px;
}

form {
padding: 10px 10px 10px 10px;
background-color:#BAFFA3;
border:2px solid #444444;
}

form.setup {
padding: 10px 10px 10px 10px;
background-color:#BAFFA3;
border:2px solid #444444;
}


table.main {
width: 1000px;
padding: 10px 10px 10px 10px;
border-top:1px solid #AAAAAA;
border-bottom:1px solid #AAAAAA;
}

td.block1 {
width: 250px;

font:20px serif;
color:#444444;
background-color:#BAFFA3;


text-align:left;
padding: 10px 10px 10px 10px;

text-transform:capitalize;
border:2px solid #444444;
}

h1 {

font:32px serif;

}



h2 {

font:28px serif;

}




